div {
  background-color: aqua;
}
body {
  background-image: linear-gradient(to right, pink, blue);
}
p {
  width: 60%;
}
#Alma {
  background-color: rgb(200, 220, 20);
}

li a:hover {
  background-color: rgb(255, 3, 66);
}
footer {
  background-color: blueviolet;
  width: 100%;
  text-align: center;
}
#img1 {
  border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}



